@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.representation {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-choice {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

